@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #ffffff;
    --secondary: #f4f4f5;
    --text: #000000;
    --subtitle: #52525b;
    --border: #e4e4e7;
    --accent: #000000;
  }

  .dark {
    --primary: #000000;
    --secondary: #18181b;
    --text: #ffffff;
    --subtitle: #a1a1aa;
    --border: #27272a;
    --accent: #ffffff;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary text-foreground font-sans antialiased transition-colors duration-300;
  }

  .bg-grid-pattern {
    background-size: 50px 50px;
    background-image: linear-gradient(to right, var(--border) 0px, transparent 0.9px),
      linear-gradient(to bottom, var(--border) 0px, transparent 0.9px);
  }
}